
body { background: url(https://source.unsplash.com/LhlxYMfnTF0); 
	   background-size: cover; 
	   background-position: center;
	}
		
.winner{color: green;}
		
.jumbotron , .jumbotron h1{ text-align: center;}
		
#content{ text-align: center;}
		
.rowDisplay{font-family: 'Londrina Sketch', cursive;}

#scores{ font-weight:700; font-size:10em; }

.roundDisplay{	font-size: 2.5em; margin-top: 20%; margin-bottom: 30%;}

.roundDisplay p, .roundDisplay input{ font-weight: 700; font-family: 'Londrina Sketch', cursive;}

.btn{ margin: 20px;}
		
p{ margin: 0 px; }
		
input{margin-right: 100px;}

	